@import 'nib'

@font-face
  font-family "vt323"
  src url("fonts/vt323-regular.woff");
  
@font-face
  font-family "Cincel Decorative"
  src url("fonts/cinzeldecorative-regular.woff");
  
@font-face
  font-family "Press Start 2P"
  src url("fonts/pressstart2p-regular.woff")

body
  absolute top left
  size 100% 100%
  margin 0
  background-color #111
  overflow hidden
