@font-face
  font-family: "vt323"
  src: url("fonts/vt323-regular.woff");
  
@font-face
  font-family: "Cincel Decorative"
  src: url("fonts/cinzeldecorative-regular.woff");
  
@font-face
  font-family: "Press Start 2P"
  src: url("fonts/pressstart2p-regular.woff")

body
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  margin: 0
  background-color: #111
  overflow: hidden
